.results-table-container {
    box-shadow: 2px 2px 2px 2px grey;
    background-color: #F1F6F5;
    width: 60%;
    margin: 50px;
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}
#results-table{
    width: 100%;
    margin: 25px 0;
    text-align: left;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;

}
#results-table thead tr {
    background-color: #2B3467;
    color: #ffffff;
    font-weight: bold;
}
#results-table th,
#results-table td {
    padding: 12px 15px;
}
#results-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
#results-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
#results-table tbody tr:last-of-type{
    border-bottom: 2px solid #2B3467;
}
#results-table tbody tr:hover {
    font-weight: bold;
    color: #2B3467;
}